{% extends "base.html" %}
{% block content %}
<style>
    .center-screen {
        margin-top: -80px;
    }
    .card {
        border-radius: 15px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
    .card-header {
        background-color: #343a40; /* Tom mais escuro para destacar */
        border-radius: 15px 15px 0 0;
        height: 40px; /* Altura maior para aumentar a espessura */
    }
    .btn-custom {
        background-color: #343a40; /* Tom mais escuro */
        border-radius: 50px;
        transition: background-color 0.3s ease;
    }
    .btn-custom:hover {
        background-color: #23272b;
    }
    .form-control {
        border-radius: 10px;
        transition: box-shadow 0.3s ease;
    }
    .form-control:focus {
        box-shadow: 0 0 5px rgba(52, 58, 64, 0.8);
    }
    .modal-content {
        border-radius: 15px;
    }
    .modal-header {
        border-bottom: none;
    }
    .close {
        outline: none;
    }
    .modal-footer {
        border-top: none;
    }
</style>

<div class="center-screen">
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-white text-center">
                    <h5>Criar uma nova conta</h5>
                </div>
                <div class="card-body p-4">
                    <form method="POST" action="{{ url_for('primeiro_acesso') }}">
                        {{ form.hidden_tag() }}

                        <div class="form-group mt-4">
                            <label class="form-control-label">{{ form.username.label.text }}</label>
                            {{ form.username(class="form-control") }}
                        </div>

                        <div class="form-group mt-4">
                            <label class="form-control-label">{{ form.email.label.text }}</label>
                            {{ form.email(class="form-control") }}
                        </div>

                        <div class="form-group mt-4">
                            <label class="form-control-label">{{ form.password.label.text }}</label>
                            {{ form.password(class="form-control") }}
                        </div>

                        <div class="form-group mt-4">
                            <label class="form-control-label">{{ form.repeat_password.label.text }}</label>
                            {{ form.repeat_password(class="form-control") }}
                        </div>

                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-custom btn-block text-white">Criar Conta</button>
                        </div>

                        <div class="form-group mt-4 text-center">
                            <a href="{{ url_for('login') }}" class="btn btn-link" style="color: #343a40;">Já tenho uma conta</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
